<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.johannesbock.snow_risk_app" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.NewCustomerActivity"
            android:exported="false"
            android:theme="@style/Theme.Snowriskapp.NoActionBar" />
        <!-- backup allow false, so I can change the database without increasing the version number -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Snowriskapp.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>